section {
  width: 100%;
}

.self {
  text-align: center;
}

@media only screen and (min-width: 700px) {
  section.flex-container {
    flex-direction: row;
  }

  .img-50 {
    width: 50%;
  }

  .text-50 {
    width: 50%;
  }

  img.margin-bottom {
    margin: 0;
  }
}

@media only screen and (min-width: 700px) {
  section.margin-top-bottom {
    margin: 0;
  }
}
