main {
  align-items: center;
}

.text-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2,
p {
  text-align: center;
}

p {
  max-width: 80%;
  margin: 0 auto;
}

/* Form */
::placeholder {
  font-family: "All Round Gothic", sans-serif;
}

div.flex-container.div-form.margin-top-bottom {
  background-color: white;
  width: 90%;
  border-radius: 20px;
}

form input#name,
form input#email,
form textarea#message {
  border: var(--purple) 2px solid;
  border-radius: 20px;
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  div.flex-container.div-form.margin-top-bottom {
    width: 70%;
  }
}

@media only screen and (min-width: 800px) {
  img.volunteers {
    max-width: 50%;
  }

  p {
    max-width: 50%;
    text-align: left;
  }

  div.flex-container.div-form.margin-top-bottom {
    width: 50%;
  }
}
