main {
  align-items: center;
}

.text-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2,
p {
  text-align: center;
}

p {
  max-width: 80%;
  margin: 0 auto;
}

/* Form */

@media only screen and (min-width: 800px) {
  img.volunteers {
    max-width: 50%;
  }

  p {
    max-width: 50%;
    text-align: left;
  }
}
