header {
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}

.current {
  border-bottom: 4px solid var(--purple);
}

.logo {
  width: 4rem;
  margin: 1rem;
}

ul {
  list-style: none;
}

li a {
  color: var(--purple);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Nasalization", sans-serif;
}

nav {
  text-align: right;
  margin: 1.5rem;
}

#toggle {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: inline-flex;
  }

  label {
    display: none;
  }

  ul li {
    margin: 0.5rem;
  }
}
