header {
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
}

.logo {
  width: 4rem;
}

ul {
  list-style: none;
}

li a {
  color: var(--purple);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Nasalization", sans-serif;
}

nav {
  text-align: right;
}

#toggle {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: inline-flex;
  }

  label {
    display: none;
  }
}
