h1 {
  text-align: center;
}

p {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

a.cta-wide {
  text-decoration: none;
  color: var(--yellow);
  background-color: var(--purple);
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  border-radius: 15px;
  width: 50%;
}

@media only screen and (min-width: 600px) {
  a.cta-wide {
    width: 35%;
  }
}

@media only screen and (min-width: 700px) {
  .flex-container {
    flex-direction: column;
  }

  p {
    width: 50%;
    text-align: left;
  }

  .read-more {
    text-align: left;
  }

  @media only screen and (min-width: 900px) {
    .section-cta {
      flex-direction: row;
      justify-content: center;
    }
    
    a.cta-wide {
    width: 30%;
    padding: 4rem 2rem;
    margin: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  a.cta-wide {
    transition: width 1s;
    width: 25%;
  }

  a.cta-wide:hover {
    width: 23%; 
  }
}