@import url("header.css");
@import url("footer.css");
@import url("https://use.typekit.net/dvq1lab.css");

/* GLOBAL SETTINGS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --purple: #640880;
  --yellow: #ffe229;
  --grey: #e7e7e7;
}

html {
  font-family: "All Round Gothic", sans-serif;
  color: var(--purple);
  background-color: var(--grey);
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  display: flex;
}

main {
  flex-direction: column;
}

h1,
h2 {
  font-family: "Nasalization", sans-serif;
}

h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  text-transform: capitalize;
}

p {
  font-family: "All Round Gothic" sans-serif;
}

a {
  color: var(--purple);
}

img {
  width: 100%;
}

i.fas.fa-arrow-circle-up {
  font-size: 3rem;
}

/* CLASSES */

.text-50 p {
  width: 70%;
}

.margin-top {
  margin: 2rem 0 0 0;
}

.margin-top-bottom {
  margin: 1rem 0 1rem 0;
}

.margin-bottom {
  margin: 0 0 1rem 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-50 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  display: block;
  background-color: var(--purple);
  color: var(--yellow);
  padding: 1rem 2.5rem;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Nasalization, sans-serif;
  text-align: center;
  align-self: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 900px) {
  .image-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .img-50 {
    width: 50%;
  }

  .text-50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-50 p {
    width: 70%;
  }
}
