@import url("header.css");
@import url("footer.css");
@import url("https://use.typekit.net/dvq1lab.css");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* COLOURS */
  --purple: #640880;
  --yellow: #ffe229;
  --grey: #e7e7e7;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}
