@import url("header.css");
@import url("footer.css");
@import url("https://use.typekit.net/dvq1lab.css");

/* GLOBAL SETTINGS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --purple: #640880;
  --yellow: #ffe229;
  --grey: #e7e7e7;
}

html {
  font-family: "All Round Gothic", sans-serif;
  overflow-x: hidden;
  background-color: var(--grey);
}

h1,
h2 {
  font-family: "Nasalization", sans-serif;
}

h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
}
