main {
  align-items: center;
}

section,
div.text,
div.text-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2,
p {
  text-align: center;
}

p {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  section {
    flex-direction: row;
    max-width: 70%;
  }

  div.text {
    width: 50%;
  }

  a.map.margin-top-bottom {
    max-width: 55%;
  }
}
