main {
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

p {
  width: 80%;
}

@media only screen and (min-width: 700px) {
  img.map {
    width: 80%;
  }
}

@media only screen and (min-width: 900px) {
  section {
    flex-direction: row;
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  img.map {
    width: 60%;
  }
}
